@define-mixin btnBg $bgColor {
  background: $bgColor;

  &:focus,
  &:hover {
    background: color($bgColor shade(20%));
  }
}

/* Create hem */
@define-mixin hem {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    z-index: 5;

    size: 100% 1px;

    content: '';
    background-image: repeating-linear-gradient(90deg, color($colorWhite a(50%)), color($colorWhite a(50%)) 8px, transparent 8px, transparent 16px);
  }

  &::before {
    top: calc($base / 2);
  }

  &::after {
    bottom: calc($base / 2);
  }
}

/* Transparent bg for improve readable */
@define-mixin cover {
  &::before {
    position: absolute 0;

    content: '';
    background: rgba($colorBlack, 0.6);
  }
}

/* Screen reader */
@define-mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Remove padding and margin and dot */
@define-mixin remove-mpd {
  padding: 0;
  margin: 0;
  list-style: none;
}
