/**********************
 * VARIABLES
 **********************/

/* Base size */
$base: 16px;

/* Fonts */
$fontPrimary: 'Raleway', sans-serif;
$fontSecondary: 'Dosis', sans-serif;
$fontSpecial: 'Vidaloka', serif;

/* Colors */
$colorText: #2b2b2b;
$colorTextLight: #999999;
$colorWhite: #ffffff;
