.text-large {
  font-size: 1.563rem; /* equal h2 font-size */
}

.text-small {
  font-size: 0.8rem; /* equal h5,h6 font-size */
}

.text-light {
  color: $colorTextLight;
}

.text-bold {
  font-weight: 700;
}

.text-invert-color {
  color: $colorWhite;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center { text-align: center; }

/* Text with colors */
.text-dark { color: $colorText; }
.text-blue { color: $colorBlue; }
.text-green { color: $colorGreen; }
.text-red { color: $colorRed; }
.text-orange { color: $colorPrimary !important; }

/* Lists */
/* List has underline */
.list-underline {
  @extend remove-mpd;

  li {
    padding: .8em 0;

    border-bottom: 1px solid $colorBorder;
  }

  p {
    margin-bottom: 0;
  }
}

/* List inline */
.list-inline {
  @extend remove-mpd;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: calc($base / 2);
    }
  }
}

.list-dot {
  color: $colorText;

  list-style-type: none;

  ul {
    margin-top: calc($base / 2);
    list-style-type: none;
  }

  @extend remove-mpd;

  li {
    position: relative;

    margin-bottom: calc($base / 2);

    &::before {
      content: '\2022';

      color: $colorPrimary;

      margin-right: calc($base / 2);
    }
  }

  a {
    color: $colorText;
    transition: $transition;

    &:hover {
      color: $colorPrimary;
    }
  }
}

/* List filter */
.list-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @extend remove-mpd;
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;

  clear:fix;

  li {
    border-bottom: 1px solid $colorBorder;
  }

  a {
    display: inline-block;
    padding: calc($base / 2) $base;

    color: $colorTextLight;
  }

  .active {
    border-color: $colorText;

    a {
      color: $colorText;
    }
  }
}

/* list Striped */
.list-striped {
  font-size: calc($base * .8);

  @extend remove-mpd;

  li {
    padding: $base;
  }

  :nth-child(2n + 2) {
    background: $colorBorder;
  }

  :nth-child(2n + 3) {
    background: $colorGrayLight;
  }

  :first-child {
    font-size: calc($base * 1.2);
    text-transform: uppercase;
    font-weight: 700;
    color: $colorWhite;

    background: $colorMineShaft;
  }
}

/* List Comments */
@b list-comment {
  margin: 0;
  padding: 0;

  list-style: none;

  ul {
    list-style: none;
    padding-left: calc($base * 2);
  }

  li {
    position: relative;

    counter-increment: step-counter;

    &::before {
      content: counter(step-counter);

      position: absolute 10px auto auto auto;

      display: inline-block;
      size: 80px;
      padding-left: $base;

      font-size: calc($base * 1.2);
      font-weight: 700;
      color: $colorScorpion;
      line-height: 80px;

      background: $colorGrayLight;
      border-radius: 50%;
    }
  }

  > li {
    margin-bottom: calc($base * 3);
  }

  @e avatar {
    position: relative;

    display: inline-block;
    size: 100px;
    margin-left: calc($base * 3);
    margin-bottom: calc($base / 2);

    border-radius: 50%;
    border: 2px solid $colorWhite;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  @e meta {
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid $colorTextLight;

    > * {
      display: inline-block;
      margin-bottom: calc($base / 2);
    }

    > time {
      flex-grow: 1;
    }
  }
}

.list-comment .list-comment--author::before {
  background: $colorGreen;
}

@media (--medium-up) {

  .list-comment__avatar {
    position: absolute;
  }

  .list-comment__meta {
    padding-top: 24px;
  }

  .list-comment__meta,
  .list-comment__content {
    margin-left: calc($base * 6);
    padding-left: calc($base * 4);
    padding-right: $base;
  }
}

/* Table Stripe */
.table-striped {

  th,
  td {
    padding: calc($base / 2);
  }

  th {
    color: $colorWhite;

    background: $colorMineShaft;
  }

  tr:nth-child(odd) {
    td {
      background: $colorBorder;
    }
  }

  tr:nth-child(even) {
    td {
      background: $colorGrayLight;
    }
  }
}
