@import 'settings';
@import 'base';
@import 'mixins';
@import 'typography';
@import 'bootstrap-grid';
@import 'sites';
@import 'patterns/all';
@import 'helpers/all';

.browserupgrade {
  padding: 0.2em 0;
  margin: 0.2em 0;

  color: #000;

  background: #ccc;
}
