
@import 'settings';
@import 'base';
@import 'helpers/all';

@import 'typography';
@import 'bootstrap-grid';
@import 'sites';
@import 'patterns/all';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
