{
  "extends": "stylelint-config-primer",
  "rules": {
    "string-quotes": "single",
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute"]
      }
    ],
    "selector-class-pattern": [
      "^(?!(js\\-))[a-z(\\-||__)0-9]+$",
      {
        "message": "Selector should be written in lowercase with hyphens (selector-class-pattern)"
      }
    ]
  }
}
