@b l-flex {
  display: flex;
  flex-wrap: wrap;

  @m center {
    justify-content: center;
  }

  /* equal width */
  @m ew {
    > div {
      flex-grow: 1;
    }
  }
}

/* Alignment Shifting Wrapping */
@b l-asw {
  display: flex;
  flex-wrap: wrap;

  @e item {
    &:first-child {
      flex-grow: 1;
      padding-right: $base;
    }

    &:last-child {
      padding-left: $base;
    }
  }
}

@media (--medium-up) {

  @b l-table {
    display: table;

    @e item {
      display: table-cell;
      width: 100%;
    }

    @m 50 {
      width: 50%;
    }
  }
}
