/* Margin bottom small */
.mbs { margin-bottom: $base; }

/* Margin bottom medium */
.mbm { margin-bottom: calc($base * 2); }

/* Margin bottom large */
.mbl { margin-bottom: calc($base * 3); }

.img-circle {
  border-radius: 50%;
}

.img-border {
  border: .8em solid $colorBorder;
}

/* Float div with difference height */
.fdh {

  @media (--small-up) {
    &:nth-child(2n+1) {
      clear: both;
    }
  }

  @media (--medium-up) {
    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(4n+1) {
      clear: both;
    }
  }
}

/* Google Map style */
#gMap {
  height: 460px;
}
