extend layouts/default

block content

  .banner.banner--bg-a
    h2.banner__h My Account

    //- patterns_library/breadcrumb
    .bc
      a.bc__item(href="#") Home
      span.bc__item Jocko Munandar

    .banner__cover

  .well
    .container
      .row
        .col-sm-12.col-md-8
          .panel.panel--a.mbm
            .panel__body
              .media
                .media__left
                  a(href="#"): img.img-circle.img-border(src="http://placehold.it/160x160", alt="Image")
                .media__body
                  h3 Jocko Munandar
                  p.txt-light
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ad iusto quod quaerat possimus, blanditiis dignissimos, quibusdam quam, ipsum sunt nobis!
                  ul.list-inline
                    li.txt-light.txt-bold
                      | Connect with me:
                    li
                      a(href="#", style="color: #3b5999"): i.fa.fa-facebook-official.fa-2x
                    li
                      a(href="#", style="color: #55acee"): i.fa.fa-twitter.fa-2x
                    li
                      a(href="#", style="color: #e1306c"): i.fa.fa-instagram.fa-2x

          .tab#tab.mbl
            ul.tab__nav
              li.active
                a(href="#tab1")
                  | Articles
                  span.txt-bold (5)

              li
                a(href="#tab2")
                  | Receipt
                  span.txt-bold (7)

              li
                a(href="#tab3")
                  | Bookmark
                  span.txt-bold (25)

            .tab__content
              .tab__pane.active#tab1
                ul.list-underline
                  - var n = 1
                  while n < 5
                    li
                      .media
                        .media__left
                          a(href="#"): img(src="http://placehold.it/200x200", alt="Image#{n++}")
                        .media__body
                          a.txt-orange.txt-uppercase.txt-small(href="#") Health
                          h3.txt-large: a.txt-dark(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corrupti dolor libero!
                          p.txt-small
                            | Posted on <time datetime="2016-06-06">September 20, 2016</time>
                          p.txt-small
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, iusto consequuntur esse illo, autem assumenda optio mollitia soluta possimus totam excepturi.


              .tab__pane#tab2
                ul.list-underline
                  - var n = 1
                  while n < 5
                    li
                      .media
                        .media__left
                          a(href="#"): img(src="http://placehold.it/200x200", alt="Image#{n++}")
                        .media__body
                          a.txt-orange.txt-uppercase.txt-small(href="#") Health
                          h3.txt-large: a.txt-dark(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corrupti dolor libero!
                          p.txt-small
                            | Posted on <time datetime="2016-06-06">September 20, 2016</time>
                          p.txt-small
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, iusto consequuntur esse illo, autem assumenda optio mollitia soluta possimus totam excepturi.

              .tab__pane#tab3
                ul.list-underline
                  - var n = 1
                  while n < 5
                    li
                      .media
                        .media__left
                          a(href="#"): img(src="http://placehold.it/200x200", alt="Image#{n++}")
                        .media__body
                          a.txt-orange.txt-uppercase.txt-small(href="#") Health
                          h3.txt-large: a.txt-dark(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corrupti dolor libero!
                          p.txt-small
                            | Posted on <time datetime="2016-06-06">September 20, 2016</time>
                          p.txt-small
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, iusto consequuntur esse illo, autem assumenda optio mollitia soluta possimus totam excepturi.

        .col-sm-12.col-md-4
          include includes/sidebar
