extend layouts/default

block content

  .banner.banner--bg-a
    h2.banner__h Recipe
    
    //- patterns_library/breadcrumb
    .bc
      a.bc__item(href="#") Home
      span.bc__item Recipe
    
    .banner__cover
