doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    title Pattern Library
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
  
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
    
    // build:css styles/main.css
    link(rel="stylesheet", href="../styles/patterns_library.css")
    link(rel="stylesheet", href="../styles/main.css")
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src="../bower_components/modernizr/modernizr.js")
    // endbuild
    
  body
    .container
      .row
        .col-xs-12
          header.pt-header: h1 Patterns Library
          hr
    block content
    
    .container
      .row
        .col-xs-12
          footer.pt-header
          hr
          h3 &copy; 2016. Made by <a href="http://github.com/nguyenmanh1507"  target="_blank">ngManh</a> with <i class="fa fa-google"></i>
  
  
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
      
  
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild
    
    script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
    
    // build:js scripts/main.js
    script(src='../scripts/main.js')
    script(src="../scripts/navigation.js")
    // endbuild
