@b avatar {
  position: relative;
  text-align: center;

  @e img {
    display: block;
    margin: 0 auto $base;

    border: calc($base / 2) solid $colorGrayLight;
    border-radius: 50%;
  }

  @e meta {
    display: inline-block;
    padding: calc($base / 2) calc($base * 2);
    margin-bottom: $base;

    background: $colorText;
    border-radius: calc($base * 2);

    a {
      display: inline-block;
      margin: 0 calc($base / 4);
      color: $colorWhite;
      transition: $transition;

      &:focus,
      &:hover {
        color: $colorPrimary;
      }
    }
  }

  @e h {
    margin: 0;

    font-size: $base;
    text-transform: uppercase;
  }

  @e sub-h {
    font-size: calc($base * 0.8);
  }

  @e desc {
    position: relative;

    padding: $base calc($base / 2);
    margin-top: calc($base * 1.2);

    font-size: calc($base * 0.8);
    text-align: left;

    background: $colorGrayLight;

    &::before {
      position: absolute;
      bottom: 100%;
      left: 50%;

      height: $base;

      content: '';
      background-color: $colorGrayLight;
      transform: translateX(-50%);
    }

    @media (min-width: $bpMedium)) {
      padding: calc($base * 1.5) $base;
    }
  }
}

.no-touch {

  @b avatar {

    @e img:hover + .avatar__meta {
      visibility: visible;
      opacity: 1;
    }

    @e meta {
      position: absolute -32px auto auto 50%;

      width: 100%;

      visibility: hidden;
      opacity: 0;
      transition: $transition;
      transform: translateX(-50%);

      &:hover {
        visibility: visible;
        opacity: 1;
      }

      &::before {
        position: absolute 100% auto auto 50%;

        triangle: right-iso pointing-down;
        width: 12px;

        content: '';
        background-color: $colorText;
        transform: translateX(-50%);
      }
    }
  }
}
