@b banner {
  padding: calc($base * 5) 0;

  text-align: center;

  background: $colorTextLight;

  @mixin hem;

  /* Make content stack on top cover */
  @e h, .bc {
    position: relative;
    z-index: 5;
  }

  @e h {
    margin: 0 0 calc($base / 2);

    font-family: $fontSecondary;
    color: $colorWhite;
    text-transform: uppercase;
  }

  @e cover {
    @mixin cover;
  }

  &[class*='bg'] {
    background-size: cover;
  }

  @m bg-a {
    background: $colorTextLight resolve('well-bg/1.jpg') no-repeat;
  }
}
