@b btn {
  display: inline-block;
  padding: 0.8em 1.5em;

  font-size: calc($base * 0.8);
  color: $colorWhite;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  border: 0;
  box-shadow: inset 1px 1px 0 0 rgba($colorWhite, 0.2);
  transition: $transition;

  @mixin btnBg $colorTextLight;

  /* opaque */
  @m o {
    @mixin btnBg color($colorTextLight a(70%));
  }

  /* primary */
  @m p {
    @mixin btnBg $colorBlue;
  }

  /* success */
  @m s {
    @mixin btnBg $colorGreen;
  }

  /* warning */
  @m w {
    @mixin btnBg $colorPrimary;
  }

  /* error */
  @m e {
    @mixin btnBg $colorRed;
  }

  /* large */
  @m lg {
    font-size: $base;
  }

  /* block */
  @m b {
    display: block;
    width: 100%;
  }
}

.btn-group {
  display: table;
  width: 100%;

  border-top: 1px solid $colorBorder;
  border-left: 1px solid $colorBorder;

  > a,
  > button,
  > div {
    display: block;
    padding: $base;

    color: $colorText;
    text-align: center;
    vertical-align: middle;

    background: $colorGrayLight;
    border-right: 1px solid $colorBorder;
    border-bottom: 1px solid $colorBorder;

    transition: $transition;

    &:focus,
    &:hover {
      background: $colorBorder;
    }

    @media (--small-up) {
      display: table-cell;
    }
  }
}
