@b card {
  background: $colorWhite;
  border: 1px solid $colorBorder;

  @e thumb {
    position: relative;

    display: block;
    height: 0;
    padding-bottom: 56.25%;

    img {
      position: absolute 0;
      size: 100%;
    }
  }

  @e cta-btn {
    display: block;
    padding: 0.8em 1.5em;

    font-size: calc($base * 0.8);
    font-weight: 700;
    color: $colorText;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    background: $colorWhite;
    border-bottom: 1px solid $colorBorder;

    transition: $transition;

    &:focus,
    &:hover {
      background: color($colorWhite shade(20%));
    }
  }

  @e under {
    padding: $base;

    font-size: calc($base * 0.8);

    a {
      color: $colorText;
      text-decoration: none;

      transition: $transition;

      &:focus,
      &:hover {
        color: $colorPrimary;
      }
    }
  }

  @e name {
    margin-bottom: calc($base * 2);
  }

  @e h {
    margin: 0;

    font-size: calc($base * 1.13);
  }

  @e meta {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    color: $colorTextLight;

    list-style: none;

    li:not(:last-child) {
      margin-bottom: calc($base / 2);
    }

    li:first-child {
      margin-right: calc($base / 2);
    }

    li:nth-child(2) {
      flex-grow: 1;
    }
  }

  /* Card has no border */
  @m nb {
    border: 0;

    .card__under {
      padding-right: 0;
      padding-left: 0;
    }
  }

  /* Card with text center */
  @m center {
    .card__under {
      text-align: center;
    }
  }
}

/* Styles for desktop */
.no-touch {

  @b card {

    @e upper {
      position: relative;

      &:focus,
      &:hover {
        .card__thumb::before,
        .card__cta-group {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    @e cta-group {
      position: absolute 50% auto auto 50%;

      text-align: center;

      visibility: hidden;
      opacity: 0;
      transition: $transition;
      transform: translate(-50%, -50%);
    }

    @e thumb::before {
      position: absolute 0;

      visibility: hidden;
      content: '';
      background: rgba($colorPrimary, 0.5);
      opacity: 0;
      transition: $transition;
    }

    @e cta-btn {
      display: inline-block;
      width: 100%;

      border-bottom: 0;
      border-radius: calc($base * 2);

      &:not(:last-child) {
        margin-bottom: $base;
      }
    }
  }
}
