@b form {
  padding: $base;

  background: $colorGrayLight;

  label {
    display: inline-block;
    margin-bottom: calc($base / 4);

    font-range: $bpSmall $bpMedium;
    font-size: responsive 0.75rem 1rem;
    font-weight: 700;
    vertical-align: top;

    /* Fake checkbox */
    &.label-checkbox::before {
      display: inline-block;
      size: $base;
      margin-right: calc($base / 2);

      font-family: FontAwesome;
      font-size: calc($base * 0.8);
      color: $colorPrimary;
      text-align: center;
      vertical-align: top;
      content: '';

      background: $colorWhite;
      border: 1px solid $colorBorder;
    }

    small {
      font-weight: 400;
      color: $colorTextLight;
      vertical-align: super;

      @media (--small-up) {
        vertical-align: baseline;
      }
    }
  }

  .checkbox {
    display: none;

    &:checked + label::before {
      content: '\f00c';
    }
  }

  @e group {
    margin-bottom: calc($base * 1.5);
  }

  @e control {
    display: block;
    width: 100%;
    padding: calc($base / 2);
    margin-bottom: calc($base / 4);

    background: $colorWhite;
    border: 1px solid $colorBorder;
    outline: none;

    &:focus,
    &:hover {
      border-color: $colorPrimary;
    }
  }

  @e sep {
    position: relative;

    size: 100% 2px;
    margin: calc($base * 2) 0;

    border-top: 1px solid $colorBorder;
    border-bottom: 1px solid $colorWhite;

    span {
      position: absolute 50% auto auto 50%;

      padding: 0 $base;

      font-weight: 700;

      background: $colorGrayLight;
      transform: translate(-50%, -50%);
    }
  }

  @e input-group {
    display: flex;
    margin-bottom: calc($base / 4);

    .form__input-addon:first-child {
      flex-basis: 20%;
    }

    .form__control {
      margin: 0;
    }
  }

  /* Split element equaly */
  @m se {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .form__group:first-of-type {
      flex-grow: 1;
    }
  }

  /* Button styles only inside form */
  .facebook,
  .twitter {
    margin-bottom: $base;

    font-weight: 700;
    text-transform: none;
  }

  .facebook {
    background: #3b5998;
  }

  .twitter {
    background: #00aced;
  }

  @media (--medium-up) {
    padding: calc($base * 2);
  }

  @media (--large-up) {
    padding: calc($base * 3);
  }
}

/* File upload style for Webkit */
::-webkit-file-upload-button {
  display: block;
  height: 38px;
  margin: -7px;

  color: $colorWhite;

  cursor: pointer;
  background: $colorText;
  border: 0;
}
