@b media {
  display: flex;
  flex-wrap: wrap;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  @e left {
    margin-right: $base;
  }

  @e body {
    flex-grow: 1;
  }

  @media (--small-up) {
    flex-wrap: nowrap;
  }
}
