@b site-nav {
  font-family: $fontSecondary;

  a {
    color: $colorWhite;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  /* Hamburger menu */
  @e ham {
    position: relative;

    size: 40px 24px;
    float: right;

    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      left: 0;

      content: '';
      size: 100% 4px;

      background: $colorWhite;
      transition: $transition;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.is-nav-open {

      .site-nav__ham-inner {
        opacity: 0;
      }

      &::before {
        transform: rotateZ(45deg);
        transform-origin: top left;
      }

      &::after {
        transform: rotateZ(-45deg);
        transform-origin: top left;
      }
    }
  }

  @e ham-inner {
    position: absolute;
    top: 50%;
    margin-top: -2px;

    size: 100% 4px;

    background: $colorWhite;
    border: none;
    transition: $transition;
  }

  @e brand {
    margin: 0;
    float: left;

    @media (--nav-desktop) {
      flex-grow: 1;
    }
  }

  @e nav {
    clear: both;
  }

  @e list {
    padding: $base 0 0;
    margin: 0;
    display: none;

    &.is-show {
      display: block;
    }

    li {
      margin-bottom: $base;

      list-style: none;

      &.dropdown {
        > ul {
          display: none;
        }

        > a::after {
          margin-left: calc($base / 2);

          font-family: 'FontAwesome';
          content: '\f0d7';
          color: $colorPrimary;
        }
      }
    }

    @media (--nav-desktop) {
      display: flex;
      justify-content: space-between;

      > li {
        margin-left: calc($base * 2);
        margin-bottom: 0;
      }
    }
  }

  @media (--nav-desktop) {
    display: flex;
    align-items: center;
  }
}
