@b page-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem 0;

    font-family: $fontSecondary;
    text-transform: uppercase;
  }

  @m a {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;

      padding-bottom: $base;

      &::before {
        position: absolute;
        bottom: 0;

        content: '';
        size: 20px 1px;

        background: $colorPrimary;
      }
    }
  }
}
