@b panel {
  position: relative;

  padding: $base;

  background: $colorWhite;

  @e title {
    margin-top: 0;

    font-family: $fontSpecial;
    font-style: italic;
  }

  @e addon {
    padding: $base 0;
    margin-bottom: $base;

    color: $colorWhite;
    text-align: center;
    text-transform: uppercase;

    background: $colorBlue;

    @media (--medium-up) {
      position: absolute 0 0 auto auto;

      size: 100px 100px;
      padding: 0;

      line-height: 100px;

      border-radius: 50%;
      transform: translate(50%, -30%);
    }
  }

  @m a {
    background: $colorGrayLight;
  }

  @media (--medium-up) {
    padding: calc($base * 2);
  }

  @m thin {
    padding: calc($base / 2);

    @media (--medium-up) {
      padding: $base;
    }
  }
}
