@b well {
  position: relative;

  padding: calc($base * 3) 0;

  @m a {
    background: $colorGrayLight;
  }

  @m b {
    background: $colorScorpion;
  }

  @m bg-a {
    background: $colorScorpion resolve('well-bg/1.jpg') no-repeat;
  }

  @m bg-b {
    background: $colorScorpion resolve('well-bg/2.jpg') no-repeat;
  }

  @m bg-c {
    background: $colorScorpion resolve('well-bg/3.jpg') no-repeat;
  }

  /* Clear page-header margin top when it inside well */
  .page-header {
    margin-top: 0;
  }
}

.well[class*='bg'] {
  background-size: cover;

  @mixin cover;
}
