extends ../layouts/patternsLibrary

block content

  .container
    .row
      .col-xs-12
        h2 Accordion
        
        .acc.mbs
          .acc__heading
            h4.acc__title Where can I find your offices?
          .acc__body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi laboriosam dicta, iste commodi optio quibusdam a quam ullam incidunt saepe, eum.
            
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nesciunt distinctio odio!
            
        .acc.mbs
          .acc__heading
            h4.acc__title Where are your most popular services?
          .acc__body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi laboriosam dicta, iste commodi optio quibusdam a quam ullam incidunt saepe, eum.
            
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nesciunt distinctio odio!
            
        .acc.mbs
          .acc__heading
            h4.acc__title Do your themes include support?
          .acc__body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi laboriosam dicta, iste commodi optio quibusdam a quam ullam incidunt saepe, eum.
            
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nesciunt distinctio odio!
            
        .acc.mbs
          .acc__heading
            h4.acc__title What should I do to prep for the theme?
          .acc__body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi laboriosam dicta, iste commodi optio quibusdam a quam ullam incidunt saepe, eum.
            
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nesciunt distinctio odio!
            
        .acc.mbs
          .acc__heading
            h4.acc__title What are your hours of operation?
          .acc__body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi laboriosam dicta, iste commodi optio quibusdam a quam ullam incidunt saepe, eum.
            
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nesciunt distinctio odio!
        .acc.mbs
          .acc__heading
            h4.acc__title Do you handle international orders?
          .acc__body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi laboriosam dicta, iste commodi optio quibusdam a quam ullam incidunt saepe, eum.
            
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat nesciunt distinctio odio!
