extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Avatars
        
        .row.mbm
          - var i = 1
          while i < 5
            .col-xs-12.col-sm-6.col-md-3
              .avatar
                img.avatar__img(src="http://placehold.it/150x150", alt="avatar#{i++}")
                .avatar__meta
                  a(href="#"): i.fa.fa-facebook
                  a(href="#"): i.fa.fa-twitter
                  a(href="#"): i.fa.fa-youtube
                  a(href="#"): i.fa.fa-google-plus
                  a(href="#"): i.fa.fa-linkedin
                  a(href="#"): i.fa.fa-pinterest
                  a(href="#"): i.fa.fa-envelope
                h3.avatar__h Roberta Farina
                small.avatar__sub-h Executive Editor
              
        h3 Avatars has description
            
        .row
          - var i = 1
          while i < 5
            .col-xs-12.col-sm-6.col-md-3
              .avatar
                img.avatar__img(src="http://placehold.it/150x150", alt="avatar#{i++}")
                .avatar__meta
                  a(href="#"): i.fa.fa-facebook
                  a(href="#"): i.fa.fa-twitter
                  a(href="#"): i.fa.fa-youtube
                  a(href="#"): i.fa.fa-google-plus
                  a(href="#"): i.fa.fa-linkedin
                  a(href="#"): i.fa.fa-pinterest
                  a(href="#"): i.fa.fa-envelope
                h3.avatar__h Roberta Farina
                small.avatar__sub-h Executive Editor
                .avatar__desc
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident incidunt doloribus maiores, similique facere quo. Nam porro ullam sed ea, sapiente aliquam sit totam beatae voluptate dolorum. Non esse assumenda quia eaque.
