extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Banners
        
        .banner.banner--bg-a
          h2.banner__h Recipe
          
          //- patterns_library/breadcrumb
          .bc
            a.bc__item(href="#") Home
            span.bc__item Recipe
          
          .banner__cover
          
      
