extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Breadcrumb
        
        .pt-dark-bg
          .bc
            .bc__cover
            a.bc__item(href="#") Home
            span.bc__item Recipe
