extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Buttons
        
        p Default (a, input, button)
        
        p
          a.btn(href="#") See all recipes
          
        p
          input.btn(type="submit", value="Send Message")
        
        p
          button.btn Load more
          
        p Button large
        
        p
          button.btn.btn--lg View all
          
        p Button block
        
        p
          button.btn.btn--b View all
          
        p Primary
        
        p
          button.btn.btn--p Load more
          
        p Success
        
        p
          button.btn.btn--s Success
            
        p Warning
        
        p
          button.btn.btn--w Warning
        
        p Error
        
        p
          button.btn.btn--e Error
          
        p Button Group
        
        .btn-group
          a(href="#")
            i.fa.fa-bookmark
            div Bookmark
            
          a(href="#")
            i.fa.fa-print
            div Print
          
          a(href="#")
            i.fa.fa-share-alt
            div Share
            
          a(href="#")
            | Delicious:
            i.fa.fa-star.text-orange
            i.fa.fa-star.text-orange
            i.fa.fa-star.text-orange
            i.fa.fa-star.text-orange
            i.fa.fa-star
