extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Buttons
        
        p Default (a, input, button)
        
        p
          a.btn(href="#") See all recipes
          
        p
          input.btn(type="submit", value="Send Message")
        
        p
          button.btn Load more
          
        p Button large
        
        p
          button.btn.btn--lg View all
          
        p Button block
        
        p
          button.btn.btn--b View all
          
        p Primary
        
        p
          button.btn.btn--p Load more
          
        p Success
        
        p
          button.btn.btn--s Success
            
        p Warning
        
        p
          button.btn.btn--w Warning
        
        p Error
        
        p
          button.btn.btn--e Error
