extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Cards
        
        .row
          .col-xs-4
            .card
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Khatulistiwa Fruit Salad
                  span.card__sub-h By Lina Sukowati
                ul.card__meta
                  li
                    i.fa.fa-circle.text-green
                    |  <span>Easy</span>
                  
                  li
                    i.fa.fa-clock-o
                    |  <span>10 Minutes</span>
                    
                  li.text-small
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star
                  
          .col-xs-4
            .card
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Fried Sumedang Tofu
                  span.card__sub-h By Lina Sukowati
                ul.card__meta
                  li
                    i.fa.fa-circle.text-green
                    |  <span>Easy</span>
                  
                  li
                    i.fa.fa-clock-o
                    |  <span>10 Minutes</span>
                    
                  li.text-small
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
          
          .col-xs-4
            .card
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Home Made Italian Pizza
                  span.card__sub-h By Lina Sukowati
                ul.card__meta
                  li
                    i.fa.fa-circle.text-red
                    |  <span>Master</span>
                  
                  li
                    i.fa.fa-clock-o
                    |  <span>3 Hours</span>
                    
                  li.text-small
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star
                    i.fa.fa-star
                
        p Card has no border
                
        .row
          .col-xs-4
            .card.card--nb
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Khatulistiwa Fruit Salad
                  span.card__sub-h By Lina Sukowati
                ul.card__meta
                  li
                    i.fa.fa-circle.text-green
                    |  <span>Easy</span>
                  
                  li
                    i.fa.fa-clock-o
                    |  <span>10 Minutes</span>
                    
                  li.text-small
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star
                  
          .col-xs-4
            .card.card--nb
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Fried Sumedang Tofu
                  span.card__sub-h By Lina Sukowati
                ul.card__meta
                  li
                    i.fa.fa-circle.text-green
                    |  <span>Easy</span>
                  
                  li
                    i.fa.fa-clock-o
                    |  <span>10 Minutes</span>
                    
                  li.text-small
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
          
          .col-xs-4
            .card.card--nb
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Home Made Italian Pizza
                  span.card__sub-h By Lina Sukowati
                ul.card__meta
                  li
                    i.fa.fa-circle.text-red
                    |  <span>Master</span>
                  
                  li
                    i.fa.fa-clock-o
                    |  <span>3 Hours</span>
                    
                  li.text-small
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star.text-orange
                    i.fa.fa-star
                    i.fa.fa-star
        
        p Card with text center
        
        .row
          .col-xs-4
            .card.card--center
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Khatulistiwa Fruit Salad
                  span.card__sub-h By Lina Sukowati
                
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa rem in omnis quaerat atque, laborum quisquam officiis et distinctio, quis, quia.
                  
                a.text-orange(href="#") Continue Reading <i class="fa fa-arrow-right"></i>
                  
          .col-xs-4
            .card.card--center
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Fried Sumedang Tofu
                  span.card__sub-h By Lina Sukowati
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa rem in omnis quaerat atque, laborum quisquam officiis et distinctio, quis, quia.
                  
                a.text-orange(href="#") Continue Reading <i class="fa fa-arrow-right"></i>
          
          .col-xs-4
            .card.card--center
              .card__upper
                a.card__thumb(href="#")
                  img(src="http://placehold.it/360x205", alt="Food")
                .card__cta-group
                  a.card__cta-btn(href="#view") View Recipe
                  a.card__cta-btn(href="#bookmark") Bookmark Recipe
              .card__under
                header.card__name
                  h3.card__h: a(href="#") Home Made Italian Pizza
                  span.card__sub-h By Lina Sukowati
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa rem in omnis quaerat atque, laborum quisquam officiis et distinctio, quis, quia.
                  
                a.text-orange(href="#") Continue Reading <i class="fa fa-arrow-right"></i>
