extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Hero Section
        
        .carousel#carousel
          - var n = 1
          while n < 5
            .carousel-cell
              .carousel-text
                h2.carousel-h Being Smart Chef Every Day
                p.carousel-sub-h 10 Recipes every week updates
                a.btn(href="#") See all Recipes
              img(src="/images/carousel/#{n++}.jpg", alt="Food")
