extend ../layouts/patternsLibrary

block content
  .container
    .row
      .col-xs-12
        h2 Media
        
        .media
          .media__left
            a(href="#"): img(src="http://placehold.it/60x60", alt="Image#{i++}")
          .media__body
            a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, minima.
            p.text-light
              i.fa.fa-star.text-orange
              i.fa.fa-star.text-orange
              i.fa.fa-star.text-orange
              i.fa.fa-star.text-orange
              i.fa.fa-star
