extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Navigation
        
        .pt-dark-bg
          .site-nav
            h1.site-nav__brand
              a(href="#")
                span.sr-only Culinier
                img(src="/images/logo.png", alt="Logo")
            
            .site-nav__ham
              span.sr-only Menu
              .site-nav__ham-inner      
                    
            nav.site-nav__nav
              ul.site-nav__list
                li: a(href="#") Home
                li.dropdown
                  a(href="#") All Recipes
                  
                  ul.site-nav__sub-menu
                    li: a(href="#") Fries
                    li: a(href="#") Salad
                    li: a(href="#") Soup
                    
                li: a(href="#") Blog
                li: a(href="#") Galleries
                li: a(href="#") About
                li: a(href="#") Contact
                li: a(href="#") Register
                li: a(href="#") Login
