extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Pagination
        
        .pagination
          a(href="#") 1
          a(href="#") 2
          span 3
          a(href="#") 4
        
        
