extend ../layouts/patternsLibrary

block content
  .container
    .row
      .col-xs-12
        h2 Panels
        
        .panel
          .panel__addon Event
          
          .panel__heading
            h3.panel__title Housewife Cooking Compentition
          .panel__body
            div.mbs
              time(datetime="2016-06-01") Saturday, June 01, 2016
              br
              span Balai Sartini, Srakarta
            
            a.btn.btn--w.mbl(href="#") More info
            
            .txt-uppercase.txt-small.txt-bold Another events
            
            ul.list-underline.mbs
              li
                a.txt-dark.txt-bold(href="#") Mom and Kids Day Cooking
                br
                time.txt-small(datetime="2016-06-01") Sunday, June 01 2016
                
              li
                a.txt-dark.txt-bold(href="#") Mom and Kids Day Cooking Part II
                br
                time.txt-small(datetime="2016-06-01") Sunday, June 04 2016
            
            a.txt-dark.txt-small.txt-bold.txt-uppercase(href="#") View all events <i class="fa fa-chevron-right"></i>
          
        h2 Panel have background
        
        .panel.panel--a
          .panel__addon Event
        
          .panel__heading
            h3.panel__title Housewife Cooking Compentition
          .panel__body
            div.mbs
              time(datetime="2016-06-01") Saturday, June 01, 2016
              br
              span Balai Sartini, Srakarta
            
            a.btn.btn--w.mbl(href="#") More info
            
            .txt-uppercase.txt-small.txt-bold Another events
            
            ul.list-underline.mbs
              li
                a.txt-dark.txt-bold(href="#") Mom and Kids Day Cooking
                br
                time.txt-small(datetime="2016-06-01") Sunday, June 01 2016
                
              li
                a.txt-dark.txt-bold(href="#") Mom and Kids Day Cooking Part II
                br
                time.txt-small(datetime="2016-06-01") Sunday, June 04 2016
            
            a.txt-dark.txt-small.txt-bold.txt-uppercase(href="#") View all events <i class="fa fa-chevron-right"></i>
                      
        h2 Panel thin
        
        .panel.panel--a.panel--thin
          .panel__addon Event
          
          .panel__heading
            h3.panel__title Housewife Cooking Compentition
          .panel__body
            div.mbs
              time(datetime="2016-06-01") Saturday, June 01, 2016
              br
              span Balai Sartini, Srakarta
            
            a.btn.btn--w.mbl(href="#") More info
            
            .txt-uppercase.txt-small.txt-bold Another events
            
            ul.list-underline.mbs
              li
                a.txt-dark.txt-bold(href="#") Mom and Kids Day Cooking
                br
                time.txt-small(datetime="2016-06-01") Sunday, June 01 2016
                
              li
                a.txt-dark.txt-bold(href="#") Mom and Kids Day Cooking Part II
                br
                time.txt-small(datetime="2016-06-01") Sunday, June 04 2016
            
            a.txt-dark.txt-small.txt-bold.txt-uppercase(href="#") View all events <i class="fa fa-chevron-right"></i>
            
