extend ../layouts/patternsLibrary

block content
  .container
    .row
      .col-xs-12
        h2 Panels
        
        .panel
          .panel__heading
            h3.panel__title Housewife Cooking Compentition
          .panel__body
            div.mbs
              time(datetime="2016-06-01") Saturday, June 01, 2016
              br
              span Balai Sartini, Srakarta
            
            a.btn.btn--w.mbl(href="#") More info
            
            .text-uppercase.text-small.text-bold Another events
            
            ul.list-underline.mbs
              li
                a.text-dark.text-bold(href="#") Mom and Kids Day Cooking
                br
                time.text-small(datetime="2016-06-01") Sunday, June 01 2016
                
              li
                a.text-dark.text-bold(href="#") Mom and Kids Day Cooking Part II
                br
                time.text-small(datetime="2016-06-01") Sunday, June 04 2016
            
            a.text-dark.text-small.text-bold.text-uppercase(href="#") View all events <i class="fa fa-chevron-right"></i>
            
          .panel__addon Event
          
