extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Tabs
        
        .tab#tab
          ul.tab__nav
            li.active
              a(href="#tab1") 
                | Articles 
                span.txt-bold (5)
                
            li
              a(href="#tab2")
                | Receipt 
                span.txt-bold (7)
                
            li
              a(href="#tab3")
                | Bookmark
                span.txt-bold (25)
            
          .tab__content
            .tab__pane.active#tab1
              ul.list-underline
                - var n = 1
                while n < 5
                  li
                    .media
                      .media__left
                        a(href="#"): img(src="http://placehold.it/200x200", alt="Image#{n++}")
                      .media__body
                        a.txt-orange.txt-uppercase.txt-small(href="#") Health
                        h3.txt-large: a.txt-dark(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corrupti dolor libero!
                        p.txt-small
                          | Posted on <time datetime="2016-06-06">September 20, 2016</time>
                        p.txt-small
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, iusto consequuntur esse illo, autem assumenda optio mollitia soluta possimus totam excepturi.
    
              
            .tab__pane#tab2
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, optio. Distinctio, iure sit illum, praesentium provident vero ipsum quis maiores deleniti neque!
              
            .tab__pane#tab3
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dolorem consequuntur aperiam accusantium a, nisi minus pariatur id assumenda quisquam vel.
        
        p Tab has background
        
        .tab#tabBg.tab--bg
          ul.tab__nav
            li.active
              a(href="#tab4") 
                | Articles 
                span.txt-bold (5)
                
            li
              a(href="#tab5")
                | Receipt 
                span.txt-bold (7)
                
            li
              a(href="#tab6")
                | Bookmark
                span.txt-bold (25)
            
          .tab__content
            .tab__pane.active#tab4
              ul.list-underline
                - var n = 1
                while n < 5
                  li
                    .media
                      .media__left
                        a(href="#"): img(src="http://placehold.it/200x200", alt="Image#{n++}")
                      .media__body
                        a.txt-orange.txt-uppercase.txt-small(href="#") Health
                        h3.txt-large: a.txt-dark(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corrupti dolor libero!
                        p.txt-small
                          | Posted on <time datetime="2016-06-06">September 20, 2016</time>
                        p.txt-small
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, iusto consequuntur esse illo, autem assumenda optio mollitia soluta possimus totam excepturi.
    
              
            .tab__pane#tab5
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, optio. Distinctio, iure sit illum, praesentium provident vero ipsum quis maiores deleniti neque!
              
            .tab__pane#tab6
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dolorem consequuntur aperiam accusantium a, nisi minus pariatur id assumenda quisquam vel.
        
        
