extend ../layouts/patternsLibrary

block content
  .container
    .row
      .col-xs-12
        h2 Typogarphy
        
        h1 Delivery discounts this month
        h2 Delivery discounts this month
        h3 Delivery discounts this month
        h4 Delivery discounts this month
        h5 Delivery discounts this month
        h6 Delivery discounts this month
        
        p
          | We have a new range of truly mouthwatering gift hampers and baskets in store now. They range from a mini snack basket for £10, perfect for someone’s desk at work, to a beautifully presented luxury wine, cheese, biscuits, chutney and chocolates hamper for £100.
          
        p.text-large
          | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
          
        p.text-small
          | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
        
        p.text-light
          | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
        
        .pt-dark-bg
          p.text-invert-color
            | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
          
        ul
          li You guys realize you live in a sewer, right?
          li Are you crazy? I can't swallow that.
          li We need rest. The spirit is willing, but the flesh is spongy and bruised.
          
        ol
          li You guys realize you live in a sewer, right?
          li Are you crazy? I can't swallow that.
          li We need rest. The spirit is willing, but the flesh is spongy and bruised.
        
        p
          | Or if you fancy a little treat, why <a href="#">not give a bar</a> of Fairtrade chocolate a try from 75p.
        
