extend ../layouts/patternsLibrary

block content
  .container
    .row
      .col-xs-12
        h2 Typogarphy
        
        h1 Delivery discounts this month
        h2 Delivery discounts this month
        h3 Delivery discounts this month
        h4 Delivery discounts this month
        h5 Delivery discounts this month
        h6 Delivery discounts this month
        
        p
          | We have a new range of truly mouthwatering gift hampers and baskets in store now. They range from a mini snack basket for £10, perfect for someone’s desk at work, to a beautifully presented luxury wine, cheese, biscuits, chutney and chocolates hamper for £100.
          
        p.txt-large
          | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
          
        p.txt-small
          | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
        
        p.txt-light
          | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
        
        .pt-dark-bg
          p.txt-invert-color
            | Our product of the month is our range of fruit smoothies and if your order them now you can benefit from our 25% discount.
          
        ul
          li You guys realize you live in a sewer, right?
          li Are you crazy? I can't swallow that.
          li We need rest. The spirit is willing, but the flesh is spongy and bruised.
          
        ol
          li You guys realize you live in a sewer, right?
          li Are you crazy? I can't swallow that.
          li We need rest. The spirit is willing, but the flesh is spongy and bruised.
          
        p List dots
        
        ul.list-dot
          li: a(href="#") January
          li: a(href="#") February
          li: a(href="#") March
          li: a(href="#") April
          li: a(href="#") May
          li: a(href="#") June
          li 
            a(href="#") July
            ul
              li Lorem ipsum.
              li Lorem ipsum.
              li Lorem ipsum.
          li: a(href="#") August
          li: a(href="#") September
          li: a(href="#") October
          li: a(href="#") November
          li: a(href="#") December
          
        p List with underline
        
        ul.list-underline
          li You guys realize you live in a sewer, right?
          li Are you crazy? I can't swallow that.
          li We need rest. The spirit is willing, but the flesh is spongy and bruised.
          
        p List filter
        
        ul.list-filter
          li.active
            a(href="#") Foods
          li
            a(href="#") Beverages
          li
            a(href="#") Dessert
          li
            a(href="#") Pudding
            
        p List striped
        
        ul.list-striped
          li Foods
          li Beverages
          li Dessert
          li Pudding
          
        p List comment
        
        ol.list-comment

          li
            a.list-comment__avatar(href="#"): img(src="http://placehold.it/100x100", alt="Avatar")
            .list-comment__wrap
              header.list-comment__meta
                a.txt-dark.txt-bold(href="#") Walter Hunter
                |  &bull; 
                time.txt-light(datetime="2016-06-06") July 17, 2016 - 08:40 PM
                a.txt-blue.txt-bold.txt-uppercase(href="#") Reply
                
              p.list-comment__content
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quisquam nemo voluptatem, odit eum. Rem, mollitia esse rerum, saepe distinctio officiis?
                
            ul
              li
                a.list-comment__avatar(href="#"): img(src="http://placehold.it/100x100", alt="Avatar")
                .list-comment__wrap
                  header.list-comment__meta
                    a.txt-dark.txt-bold(href="#") Walter Hunter
                    |  &bull; 
                    time.txt-light(datetime="2016-06-06") July 17, 2016 - 08:40 PM
                    a.txt-blue.txt-bold.txt-uppercase(href="#") Reply
                    
                  p.list-comment__content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quisquam nemo voluptatem, odit eum. Rem, mollitia esse rerum, saepe distinctio officiis?
              
              li.list-comment--author
                a.list-comment__avatar(href="#"): img(src="http://placehold.it/100x100", alt="Avatar")
                .list-comment__wrap
                  header.list-comment__meta
                    a.txt-dark.txt-bold(href="#") Walter Hunter
                    |  &bull; 
                    time.txt-light(datetime="2016-06-06") July 17, 2016 - 08:40 PM
                    a.txt-blue.txt-bold.txt-uppercase(href="#") Reply
                    
                  p.list-comment__content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quisquam nemo voluptatem, odit eum. Rem, mollitia esse rerum, saepe distinctio officiis?
                
        p
          | Or if you fancy a little treat, why <a href="#">not give a bar</a> of Fairtrade chocolate a try from 75p.
          
        table.mbm
          thead
            tr
              th Lorem ipsum dolor.
              th Lorem ipsum dolor sit amet.
              th Lorem ipsum.
          
          tbody
            tr
              td Lorem ipsum dolor sit.
              td Lorem ipsum dolor sit.
              td Lorem ipsum dolor sit.
              
            tr
              td Lorem ipsum.
              td Lorem ipsum dolor sit amet, consectetur.
              td Lorem ipsum dolor.
              
        table.table-striped
          thead
            tr
              th Lorem ipsum dolor.
              th Lorem ipsum dolor sit amet.
              th Lorem ipsum.
          
          tbody
            tr
              td Lorem ipsum dolor sit.
              td Lorem ipsum dolor sit.
              td Lorem ipsum dolor sit.
              
            tr
              td Lorem ipsum.
              td Lorem ipsum dolor sit amet, consectetur.
              td Lorem ipsum dolor.
              
            tr
              td Lorem ipsum dolor sit.
              td Lorem ipsum dolor sit.
              td Lorem ipsum dolor sit.
              
            tr
              td Lorem ipsum.
              td Lorem ipsum dolor sit amet, consectetur.
              td Lorem ipsum dolor.
