extends ../layouts/patternsLibrary

block content
  
  .container
    .row
      .col-xs-12
        h2 Wells
        
        p Default
        
        .well
          p Ordering your shopping online is just a click away or you can still pop into the store to see us.
        
        p Gray
        
        .well.well--a
          p Ordering your shopping online is just a click away or you can still pop into the store to see us.
        
        p Dark Gray
        
        .well.well--b
          p.txt-invert-color Ordering your shopping online is just a click away or you can still pop into the store to see us.

          
          
