.site-header
  .container
    .row
      .col-xs-12
        .site-nav
          h1.site-nav__brand
            a(href="/")
              span.sr-only Culinier
              img(src="/images/logo.png", alt="Logo")
              
          .site-nav__ham
            span.sr-only Menu
            .site-nav__ham-inner        
            
          nav.site-nav__nav
            ul.site-nav__list
              li: a(href="/") Home
              li.dropdown
                a(href="/recipe-page.html") All Recipes
                
                ul.site-nav__sub-menu
                  li: a(href="#") Fries
                  li: a(href="#") Salad
                  li: a(href="#") Soup
                  
              li: a(href="/blog-page-sidebar-right.html") Blog
              li: a(href="#") Galleries
              li: a(href="/editor-page.html") About
              li: a(href="/contact.html") Contact
              li: a(href="login.html") Login
