aside.site-aside

  .page-header.page-header--a.mbs
    h4 Subscribe to our newsletter
    
  p.txt-small.txt-light
    | Always up to date about our new recipe
    
  form.txt-small.mbl(action="/")
    .form__group
      label(for="newsletter")
      input.form__control#newsletter(type="email", name="newsletter", placeholder="Your email address")
      button.btn.btn--w.btn--b(type="submit") Subcribe
      
  .tab#tab.tab--bg.mbl
    ul.tab__nav
      li.active
        a(href="#tab1") 
          | Popular
          
      li
        a(href="#tab2")
          | Recent
          
      li
        a(href="#tab3")
          | Comments
      
    .tab__content
      .tab__pane.active#tab1
        ul.list-underline
          - var n = 1
          while n < 5
            li
              .media
                .media__left
                  a(href="#"): img(src="http://placehold.it/100x100", alt="Image#{n++}")
                .media__body
                  a.txt-dark.txt-uppercase.txt-small.txt-bold(href="#") Lorem ipsum dolor sit amet.
                  p.txt-small
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-light
        
      .tab__pane#tab2
        ul.list-underline
          - var n = 1
          while n < 5
            li
              .media
                .media__left
                  a(href="#"): img(src="http://placehold.it/100x100", alt="Image#{n++}")
                .media__body
                  a.txt-dark.txt-uppercase.txt-small.txt-bold(href="#") Lorem ipsum dolor sit amet.
                  p.txt-small
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-orange
                    i.fa.fa-star.txt-light
        
      .tab__pane#tab3
        ul.list-underline
          - var n = 1
          while n < 5
            li
              .media
                .media__left
                  a(href="#"): img.img-circle(src="http://placehold.it/100x100", alt="Image#{n++}")
                .media__body
                  a.txt-dark.txt-uppercase.txt-small.txt-bold(href="#") Lorem ipsum dolor sit amet.
                  p.txt-small
                    | Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit.
    
  .page-header.page-header--a.mbs
    h4 Editor's picks recipe
    
  .card.mbl
    .card__upper
      a.card__thumb(href="#")
        img(src="http://placehold.it/360x205", alt="Food")
      .card__cta-group
        a.card__cta-btn(href="#view") View Recipe
        a.card__cta-btn(href="#bookmark") Bookmark Recipe
    .card__under
      header.card__name
        h3.card__h: a(href="#") Khatulistiwa Fruit Salad
        span.card__sub-h By Lina Sukowati
      ul.card__meta
        li
          i.fa.fa-circle.txt-green
          |  <span>Easy</span>
        
        li
          i.fa.fa-clock-o
          |  <span>10 Minutes</span>
          
        li.txt-small
          i.fa.fa-star.txt-orange
          i.fa.fa-star.txt-orange
          i.fa.fa-star.txt-orange
          i.fa.fa-star.txt-orange
          i.fa.fa-star
    
  .page-header.page-header--a.mbs
    h4 Advertisement
    
  .page-header.page-header--a.mbs
    h4 Fun Video
    
  .brick__embed.mbl
      iframe(src="https://www.youtube.com/embed/rIo9grdfyrk", frameborder="0", width="560", height="315", allowfullscreen)
    
  .page-header.page-header--a.mbs
    h4 Instagram
    
  .row
    .col-sm-12.col-md-6
      .page-header.page-header--a.mbs
        h4 Links one
        
      ul.txt-small.txt-bold.list-dot.mbl
        li: a(href="#") January
        li: a(href="#") February
        li: a(href="#") March
        li: a(href="#") April
        li: a(href="#") May
        li: a(href="#") June
        li: a(href="#") July
        li: a(href="#") August
        li: a(href="#") September
        li: a(href="#") October
        li: a(href="#") November
        li: a(href="#") December
        
    .col-sm-12.col-md-6
      .page-header.page-header--a.mbs
        h4 Links two
        
      ul.txt-small.txt-bold.list-dot.mbl
        li: a(href="#") Sunday
        li: a(href="#") Monday
        li: a(href="#") Tuesday
        li: a(href="#") Wednesday
      
  
